// Colors
$lightGrey: #ebeef4;
$preOrderColor: #7369fe;
$preOrderColorHover: #9b93ff;
$green: #3ed272;
$greenHover: #60e691;
$mainBlue: #35c1cf;
$darkBlue: #008aa4;
$mainBlueUplay: #55aaff;
$mainBlueUplay2: #55aaff;
$orange: #f27d05;
$lightYellow: #f2f4ef;
$uplayGreen: #47e972;
$uplayPurple: #735bf7;
$uplayYellow: #e6bc08;
$uplayDark: #1b2026;

// font
$ubi: 'Ubisoft Sans Regular', Arial, sans-serif;
$ubiBold: 'Ubisoft Sans Bold', Arial, sans-serif;
$uplay: 'Trade Gothic Condensed', 'Roboto Condensed', Arial, sans-serif;

// Sizes
$largeTablet: 1080px;
$minLargeTablet: 1081px;
$tablet: 768px;
$minTablet: 769px;
$mobile: 600px;
$minMobile: 601px;

// Uplay parent class
$appUplayClasses: '.pt_content #primary';
$appID: '#application-id';
