@import '../../../../styles/variables.scss';
@import '../../../../styles/mixins.scss';

.release-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
  background-size: 100% auto;
  background-position: 50% 0;
  background-repeat: no-repeat;
  padding: 10rem 3rem;
  overflow: hidden;
  text-align: center;

  &.cinema {
    > *:not(.youtube-video-container):not(.background-image) {
      opacity: 0.1;
    }
    &::before {
      opacity: 0.95;
    }
    .youtube-video-container {
      max-width: 100rem;

      .cinema-mode-trigger {
        button {
          background-color: $firefly;
          color: $turquoise;
          box-shadow: 0 0 1rem $turquoise;

          &:focus {
            box-shadow: 0 0 2rem $turquoise;
          }
        }
      }
    }
  }
  .background-image,
  .video-container  {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    pointer-events: none;

    &::after {
      content: "";
      position: absolute;
      top: calc(100% - 20vh);
      left: 0;
      right: 0;
      height: 20vh;
      background: linear-gradient(180deg, rgba(8,33,33,0) 0%, rgba(8,33,33,1) 80%);
      z-index: 1;
    }
    img {
      width: 100%;
    }
  }
  .video-container {
    display: none;
    height: 0;
    padding-top: 56.25%;

    @include minDevice($minLargeTablet) {
      display: block;

      &::before {
        content: "";
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        height: 1000vh;
        background-color: $firefly;
      }
    }
    iframe {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
    }
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $firefly;
    opacity: 0.7;
    z-index: 1;
  }
  > * {
    position: relative;
    z-index: 3;

    &:not(:last-child):not(.video-container):not(.youtube-video-wrapper) {
      margin-bottom: 3rem;

      @include minDevice($minTablet) {
        margin-bottom: 5rem;
      }
    }
  }
  .title,
  .logo {
    img {
      display: block;
      max-width: 80%;
      margin: auto;

      @include minDevice($minTablet) {
        max-width: inherit;
      }
    }
  }
  .info {
    .buy {
      margin-top: 3rem;
    }
  }
  .additional-info {
    width: 100%;
    max-width: 60rem;

    .release-date {
      color: $white;

      span {
        color: $turquoise;
      }
    }
    .credits {
      .title {
        color: $turquoise;
        margin-top: 3rem;
      }
    }
  }
  .youtube-video-container {
    width: 100%;
    max-width: 60rem;
    transition: .12s max-width ease-in-out;

    .youtube-video-wrapper {
      margin-bottom: 2rem;

      .youtube-video {
        position: relative;
        width: 100%;
        padding-bottom: 56.25%;
        height: 0;

        iframe {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }
    }
    .cinema-mode-trigger {
      button {
        display: inline-block;
        cursor: pointer;
        appearance: none;
        font-family: $fontPrimary;
        border: 0;
        padding: 1rem 2rem;
        font-size: 1.2rem;
        background-color: $turquoise;
        color: $white;
      }
    }
  }
}
